.ticket {
    width: 502px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.ticket-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ticket-details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.ticket-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196F3;
}

.aircompany {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}