.ticket-details {
    width: 140px;
    height: 39px;
    margin-right: 20px;
}

.first-row {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #A0B0B9;
}

.second-row {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
}